SetEnv HTACCESS on

<IfModule mod_php5.c>
php_value upload_max_filesize 10485760
php_value post_max_size 10485760
php_flag log_errors on
php_value error_log /var/www/html/simpledrive/logs/error.log
</IfModule>

<IfModule mod_php7.c>
php_value upload_max_filesize 10485760
php_value post_max_size 10485760
php_flag log_errors on
php_value error_log /var/www/html/simpledrive/logs/error.log
</IfModule>

<IfModule mod_header.c>
Header set X-Content-Type-Options "nosniff"
Header set X-XSS-Protection "1; mode=block"
Header set X-Robots-Tag "none"
Header set X-Frame-Options "SAMEORIGIN"
Header set X-Download-Options "noopen"
Header set X-Permitted-Cross-Domain-Policies "none"
Header set X-Content-Security-Policy "default-src 'self'; img-src 'self'; script-src 'self'; style-src 'self'; font-src 'self'"
Header set Content-Security-Policy "default-src 'self'; img-src 'self'; script-src 'self'; style-src 'self'; font-src 'self'"
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine on

#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,NC,L]
#RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api/(.*)$ php/api.php?request=$1 [QSA,NC,L]

RewriteRule ^webdav(.*)$ php/webdav.php [QSA,NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?request=$1 [QSA,NC,L]
</IfModule>
