/* Colors
	green = #2e8b5e;
	font = #eeeeee;
	darkgrey = #202020;
	brightgrey = #292929;
*/

/* General - General */

input {
	outline: 0px solid transparent;
	background-color: rgba(0,0,0,0);
	border: none;
}

h2 {
	color: #2e8b5e;
}

.btn {
	color: white;
	background-color: #2e8b5e;
	border: 1px solid #2e8b5e;
	outline: 0px solid transparent;
}

.btn:focus {
	box-shadow: 0px 0px 1px 1px #2e8b5e;
}

.btn a {
	color: white !important;
}

.btn:hover a {
	color: white;
}

.btn:hover {
	background-color: #287952;
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-o-transform: scale(1.01);
	-ms-transform: scale(1.01);
}

.btn:disabled,
.btn:disabled:hover {
	color: white;
	background-color: grey !important;
	border: 1px solid grey;
}

.btn-inverted {
	color: #2e8b5e;
	background-color: white;
	border: 1px solid #2e8b5e;
}

.btn-inverted:hover {
	background-color: #eee;
}

.overlay {
	background-color: black;
}

.overlay-action,
.overlay-nav {
	color: grey;
	background-color: rgba(0,0,0,0);
	border: none;
}

.overlay-action:hover,
.overlay-nav:hover {
	color: #2e8b5e;
	background-color: rgba(255,255,255,0.2);
}

.error-page-code {
	color: #2e8b5e;
}

.title,
.title a {
	color: #2e8b5e;
}

.brand {
	font-family: robotolight, sans-serif;
}

.password-ok {
	color: green;
}

.password-bad {
	color: red;
}

.selected {
	color: white !important;
	background-color: #2e8b5e !important;
}

.popup .menu li {
	border-left: 4px solid transparent;
}

.popup .menu li:hover {
	color: white;
	border-left: 4px solid #2e8b5e;
	background: rgba(0,0,0,0.1);
}

.notification-info {
	color: #2e8b5e !important;
	background-color: #e0eee0 !important;
	border: 1px solid #2e8b5e !important;
}

.notification-warning {
	color: #8b4500 !important;
	background-color: #f4a460 !important;
	border: 1px solid #8b4500 !important;
}

.notification-info .close {
	color: #2e8b5e !important;
}

.notification-info .close:hover {
	color: #47a276 !important;
}

.notification-warning .close {
	color: #8B4500 !important;
}

.notification-warning .close:hover {
	color: #ad5d0f !important;
}

.progressbar {
	background-color: rgba(0,0,0,0.1);
}

.progressbar-buffer {
	background-color: rgba(0,0,0,0.1);
}

.progressbar-progress {
	background-color: #2e8b5e;
}

.checkbox-box {
	border: 1px solid #8c8c8c;
}

#img-title,
.img-title {
	color: white;
	background-color: rgba(0,0,0,0.3);
}

.active {
	background-color: #2e8b5e;
	color: white;
}

#cursorinfo {
	border: 1px solid #2e8b5e;
	color: #2e8b5e;
	background-color: white;
}

.error {
	color: red;
}

.checkbox-checked {
	border: 1px solid #2e8b5e;
	background-color: #2e8b5e !important;
	color: white;
}

.highlight {
	background-color: #ff7722;
}

#dropzone {
	background-color: rgba(46,139,94,0.4);
	color: white;
	border: 1px solid #2e8b5e;
}

#busy {
	border: 4px solid rgba(200, 200, 200, .25);
}

#busy .busy-indicator {
	border: 4px solid transparent;
	border-top: 4px solid #2e8b5e;
}

/* General - Sidebar */

.trashact {
	color: white;
	background-color: rgba(255,0,0,0.3);
}

.widget-title {
	color: #2e8b5e;
}

.widget-icon:hover {
	color: white;
	background-color: #2e8b5e;
}

/* General - Content */

.item:hover .thumbnail {
	color: #2e8b5e;
	border: 2px solid white;
}

.list .item:hover .thumbnail {
	background-color: white;
}

.item.highlight-folder,
.item.highlight-folder .thumbnail {
	color: #2d8b5e !important;
	background-color: rgba(0,0,0,0) !important;
}

.item.selected .thumbnail {
	color: #2e8b5e;
	background-color: white;
	border: 2px solid white;
}

.scrollbar {
	background-color: rgba(170,170,170,0.4);
}

.scrollbar:hover {
	background-color: rgba(170,170,170,1);
}

#texteditor {
	color: black;
	background-color: white;
}

.empty {
	color: #2e8b5e;
}

.shared {
	color: #2e8b5e;
}

#fileinfo-icon,
#fileinfo-name,
#fileinfo-link {
	color: #2e8b5e;
}

/* General - Content - List */

.filter {
	border: 1px solid #2e8b5e;
}

.filter-input {
	border: none !important;
	border: 1px solid #2e8b5e;
}

/* General - Content - Grid */

.grid .selected .thumbnail {
	color: white;
	background-color: #2e8b5e !important;
	border: 2px solid #2e8b5e !important;
}

.grid .selected .shared {
	color: white;
}

/* Light - General */

body.light {
	background-color: white;
}

body.light,
body.light a {
	color: #555;
}

.light .menu li:hover,
.light li a:hover {
	/*background-color: #eee;*/
	color: #2e8b5e;
	font-family: robotoregular, Arial;
}

.light select {
	color: #555;
	border: 1px solid #2e8b5e;
	background-color: rgba(0,0,0,0);
}

.light input {
	border-bottom: 1px dotted #555;
}

.light .input-full-border {
	border: 1px solid lightgrey !important;
}

.light #shield {
	background-color: rgba(242,242,242,0.7);
}

.light .subtitle {
	color: #555;
}

.light .popup {
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.2) !important;
}

.light .close:hover {
	color: black !important;
}

.light hr {
	background-color: #bbb;
	background: #666;
}

.light #busy {
	background-color: rgba(255,255,255,0.2);
}

/* Light - Header */

#header.light,
.light #header,
.light #header a {
	color: #333;
}

.light .title-element,
.light .title-separator {
	color: #999;
}

.light .title-element-current,
.light .title-element:not(.title-separator):hover {
	color: #333;
}

.light #logo a {
	color: #2e8b5e !important;
}

.light #logo {
	background: #303030;
}

.light #logo .back:hover {
	background-color: #202020;
	color: #2e8b5e !important;
}

/* Light - Sidebar */

.light #sidebar {
	background: #303030;
	color: #999;
}

.light .focus,
.light .focus a {
	color: #2e8b5e !important;
}

.light .widget {
	background: rgba(0,0,0,0.2);
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}

.light .trashact:hover {
	color: white;
	background-color: rgba(255,0,0,0.5);
}

/* Light - Content */

.light #content {
	color: #555;
}

.light #fileinfo {
	border-left: 1px solid lightgrey;
}

.light #fileinfo hr {
	background: lightgrey;
}

.light .item {
	border: 0px solid transparent;
	/*border-bottom: 1px solid #e0e0e0;*/
	border-bottom: 1px solid #e6e8eb;
	background-color: rgba(0,0,0,0);
}

.light .thumbnail {
	color: #555;
	border: 2px solid white;
}

.light .item form {
	color: #555;
	background-color: white;
}

.light .content-footer {
	background-color: rgba(0,0,0,0);
	border-top: 1px solid #ccc;
}

/* Light - Content - List */

.light .content-header {
	/*border-bottom: 1px solid #bbb;*/
	border-bottom: 1px solid #e6e8eb;
}

.light .filter {
	color: #555;
	background-color: white;
}

.light .list .item:hover {
	background-color: #e5e5e5;
}

.light .list .item.highlight-folder {
	color: #555 !important;
}

.light .list .selected .thumbnail {
	color: #2e8b5e !important;
	background-color: #ddd !important;
}

.light .list .selected .thumbnail {
	background-color: white !important;
}

/* Light - Content - Grid */

.light .grid .item {
	color: #555;
}

.light .grid .thumbnail {
	border: 2px solid #eee;
}

/* Dark - General */

.dark {
	background-color: #303030;
}

.dark,
.dark a {
	color: #b3b3b3;
}

.dark select {
	color: #ccc;
	border: 1px solid #555;
	background-color: rgba(0,0,0,0);
}

.dark input {
	color: #b3b3b3;
	border-bottom: 1px dotted #b3b3b3;
}

.dark .input-full-border {
	border: 1px solid #555 !important;
}

.dark #shield {
	background-color: rgba(0,0,0,0.4);
}

.dark .subtitle {
	color: white;
}

.dark .popup {
	background-color: #444;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.dark .popup .menu li:hover,
.dark .popup .menu li a:hover {
	color: white;
	background-color: #555;
}

.dark .menu li:hover,
.dark li a:hover {
	color: #2e8b5e;
	font-family: robotoregular, Arial;
}

.dark .close:hover {
	color: #ccc;
}

.dark hr {
	background-color: #555;
}

.dark #info {
	color: #eee;
}

.dark #busy {
	background-color: rgba(0,0,0,0.2);
}

.dark .settings-info {
	color: #b3b3b3;
}

/* Dark - Header */

#header.dark,
.dark #header,
.dark #header a {
	color: #b3b3b3;
}

.dark .title-element,
.dark .title-separator {
	color: #555;
}

.dark .title-element-current,
.dark .title-element:not(.title-separator):hover {
	color: #b3b3b3;
}

.dark #header {
	background-color: #303030;
}

.dark #logo {
	background: #252525;
}

.dark #logo,
.dark #logo a {
	color: #2e8b5e;
}

.dark #logo .back:hover {
	background-color: #202020;
}

/* Dark - Sidebar */

.dark #sidebar {
	background-color: #252525;
	/*border-right: 1px solid #555;*/
}

.dark .trashact:hover {
	background-color: rgba(255,0,0,0.5) !important;
}

.dark .focus,
.dark .focus a {
	color: #2e8b5e !important;
	/*background-color: #404040;*/
}

.dark .widget {
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	/*background-color: #393939;*/
	background: rgba(0,0,0,0.1);
}

/* Dark - Content */

.dark #content {
	color: #ccc;
	background-color: #303030;
	font-family: robotoregular;
}

.dark .item {
	border-bottom: 1px solid #444;
}

.dark .item:hover {
	background-color: #555;
}

.dark .thumbnail {
	border: 2px solid transparent;
}

.dark .item form {
	color: #ccc;
	background-color: #303030;
}

.dark #fileinfo {
	border-left: 1px solid #555;
	background-color: #303030;
}

.dark .content-footer {
	background-color: #303030;
	border-top: 1px solid #555;
}

/* Dark - Content - List */

.dark .content-header {
	border-bottom: 1px solid #555;
}

.dark .filter {
	color: #ccc;
	background-color: #303030;
}

/* Dark - Content - Grid */

.dark .grid .item:hover .thumbnail {
	background-color: #444;
}

.dark .grid .thumbnail {
	border: 2px solid #353535;
}

.dark .grid .item {
	background-color: #353535;
}
