.col0 {
	width: 60px;
	flex: 0 0 auto;
	cursor: pointer;
}

.col0 .checkbox-box {
	left: 25px;
}

.col1 {
	flex: 1;
}

.col2 {
	width: 15%;
	flex: 0 0 auto;
}

.col3 {
	width: 15%;
	flex: 0 0 auto;
}

.col4 {
	width: 10%;
	flex: 0 0 auto;
}

.col5 {
	width: 10%;
	flex: 0 0 auto;
	text-align: right !important;
	padding-right: 20px;
}

.col5 span {
	float: right;
}

.item-elem {
	/*position: relative;*/
	font-size: 0.9rem;
	font-family: robotoregular, sans-serif;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.item form {
	position: absolute;
	top: 12%;
	left: 0;
	height: 70% !important;
	width: 95% !important;
}

.item input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 1rem;
}

.list, .grid {
	position: relative;
	top: 0;
	width: 100%;
	height: 98%;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

/* List */

.content-header {
	height: 50px;
	line-height: 50px;
	font-size: 0.9rem;
	font-family: robotoregular, sans-serif;
	flex: 0 0 auto;
	display: flex;
}

#content-container.grid > .content-header {
	display: none !important;
}

.content-header span {
	position: relative;
	cursor: pointer;
	float: left;
}

.content-header .col5 span {
	text-align: right;
	float: right;
}

.content-header span:hover {
	font-weight: bold;
}

.list .item {
	border-radius: 0px;
	line-height: 50px;
	overflow: hidden;
	cursor: pointer;
	height: 50px;
	display: flex;
}

.list .item.selected .thumbnail {
	border-radius: 30px;
}

.list .item:hover .thumbnail {
	border-radius: 30px;
}

.list .item form {
	top: 12%;
}

.list .thumbnail {
	position: relative;
	top: 8px;
	left: 15px;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: default;
	float: left;
}

.list .shared {
	position: absolute;
	top: 10px;
	margin-left: -5px;
	font-size: 0.6rem;
}

/* Grid */

.grid .shared {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1rem;
}

.grid .item {
	position: relative;
	margin: 5px;
	padding: 0;
	height: 150px;
	width: 150px;
	text-align: center;
	font-size: 2rem;
	line-height: 150px;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	float: left;
}

.grid .item:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	z-index: 2;
}

.grid .col0 {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.grid .col1 {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 30px;
	width: 100%;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

.grid .col2, .grid .col3, .grid .col4, .grid .col5 {
	display: none;
}

.grid .thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	height: 146px;
	width: 146px;
	text-align: center;
	line-height: 146px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align: center;
	valign: center;
	cursor: default;
	font-size: 2rem;
	cursor: default;
	float: left;
}

.grid .item .thumbnail {
	border-radius: 0px;
}
