@font-face {
	font-family: 'icomoon';
	src: url('../font/icomoon.woff?k2gwrr') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
/*
	line-height: 1;
*/

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Icons */

.icon-rename:before {
  content: "\e905";
}

.icon-image:before {
  content: "\e90d";
}

.icon-audio:before {
  content: "\e911";
}

.icon-video:before {
  content: "\e913";
}

.icon-odt:before {
  content: "\e91f";
}

.icon-log:before {
  content: "\e91f";
}

.icon-unknown:before {
  content: "\e924";
}

.icon-text:before {
  content: "\e926";
}

.icon-archive:before {
  content: "\e92b";
}

.icon-copy:before {
  content: "\e92c";
}

.icon-paste:before {
  content: "\e92d";
}

.icon-folder:before {
  content: "\e92f";
}

.icon-files:before {
  content: "\e95c";
}

.icon-restore:before {
  content: "\e965";
}

.icon-user:before {
  content: "\e971";
}

.icon-users:before {
  content: "\e972";
}

.icon-user-plus:before {
  content: "\e973";
}

.icon-user-minus:before {
  content: "\e974";
}

.icon-admin:before {
  content: "\e976";
}

.icon-search:before {
  content: "\e986";
}

.icon-key:before {
  content: "\e98d";
}

.icon-lock:before {
  content: "\e98f";
}

.icon-settings:before {
  content: "\e994";
}

.icon-trash:before {
  content: "\e9ac";
}

.icon-logout:before {
  content: "\e9b6";
}

.icon-cloud:before {
  content: "\e9c1";
}

.icon-download:before {
  content: "\e9c7";
}

.icon-upload:before {
  content: "\e9c8";
}

.icon-warning:before {
  content: "\ea07";
}

.icon-error:before {
  content: "\ea08";
}

.icon-add:before {
  content: "\ea0a";
}

.icon-info:before {
  content: "\ea0c";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-checkmark:before {
  content: "\ea10";
}

.icon-play:before {
  content: "\ea1c";
}

.icon-pause:before {
  content: "\ea1d";
}

.icon-prev:before {
  content: "\ea23";
}

.icon-next:before {
  content: "\ea24";
}

.icon-sync:before {
  content: "\ea2e";
}

.icon-shuffle:before {
  content: "\ea30";
}

.icon-arrow-left:before {
  content: "\ea40";
}

.icon-cut:before {
  content: "\ea5a";
}

.icon-share:before {
  content: "\ea82";
}

.icon-pdf:before {
  content: "\eadf";
}