/* Fonts */

@font-face {
	font-family: 'robotolight';
	src: url('../font/robotolight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotoregular';
	src: url('../font/robotoregular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* General */

body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: robotoregular, sans-serif;
	user-select: none;
	-webkit-user-select: none;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

html {
	height: 100%;
	/* important, so font sizes cannot be messed up by the browser */
	font-size: 16px;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 1.5rem;
	font-family: robotolight, sans-serif !important;
}

input {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	height: 50px;
	width: 100%;
	text-align: left;
	font-family: robotolight, sans-serif;
	font-size: 1.2rem;
	border-radius: 2px;
}

.input-medium {
	margin-bottom: 15px;
	font-size: 1.5rem;
}

.input-large {
	margin-bottom: 20px;
	height: 55px;
	font-size: 2rem;
}

.input-indent {
	padding-left: 1% !important;
	width: 99% !important;
}

.input-with-button {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.input-with-button span {
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 50px;
	/* display: inline-block; */
	cursor: pointer;
	flex-shrink: 0;
}

.input-with-button .icon::before {
	width: 50px;
}

select {
	position: relative;
	margin: 0;
	height: 40px;
	width: 100px;
	line-height: 40px;
	text-align: center;
	font-family: robotoregular, sans-serif;
	font-size: 1rem;
	border-radius: 2px;
	cursor: pointer;
}

hr {
	border: 0;
	width: 100%;
	height: 1px;
	margin: 0;
}

.close:not(.btn-overlay) {
	position: absolute;
	top: 5px;
	right: 5px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	font-family: sans-serif;
	font-size: 1.5rem;
	cursor: pointer;
}

.overlay .close {
	position: absolute;
	top: 20px;
	left: 20px;
}

.btn {
	position: relative;
	margin: 0;
	padding: 0;
	height: 40px;
	width: 100px;
	line-height: 40px;
	text-align: center;
	font-family: robotoregular, sans-serif;
	font-size: 1rem;
	font-weight: normal;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.btn::-moz-focus-inner {
	/* prevent outline after click */
	border: 0;
}

.btn a {
	font-family: robotoregular, sans-serif;
	font-size: 1rem;
}

.btn:disabled,
.btn:disabled:hover {
	cursor: default;
}

.btn-large {
	margin-top: 10px;
	width: 200px;
	height: 50px;
	font-size: 1.3rem;
}

.btn-circle {
	height: 50px;
	width: 50px;
	border: none;
	border-radius: 25px;
	font-size: 1rem;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	z-index: 1;
}

.btn-overlay.icon::before {
	font-size: 1.5rem !important;
}

.btn-inline {
	flex-shrink: 0;
}

.title {
	margin: 0;
	margin-bottom: 20px;
	width: 100%;
	padding: 0;
	font-size: 2rem;
	font-family: robotolight, sans-serif;
}

.title-large {
	font-size: 2.5rem;
}

.subtitle {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5rem;
	font-family: robotolight, sans-serif;
}

.selector {
	height: 40px;
}

.selector .selector-label {
	height: 40px;
	margin-right: 10px;
	line-height: 40px;
	font-family: robotoregular, sans-serif;
	font-size: 1rem;
	float: left;
}

.selector select {
	float: left;
}

.error-page-text {
	position: relative;
	top: 150px;
	width: 100%;
	text-align: center;
	font-family: robotolight, sans-serif;
	font-size: 2rem;
}

.error-page-text a {
	font-weight: bold;
}

.error-page-code {
	font-size: 4rem;
}

.password-strength {
	margin-bottom: 20px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 1001;
}

.overlay-action {
	position: relative;
	top: 20px;
	right: 20px;
	float: right;
}

.overlay-nav {
	position: absolute;
	top: 50%;
}

.hidden:not(.popup):not(.popup-menu) {
	display: none !important;
}

.popup.hidden {
	transform: scale(0);
}

.icon::before {
	text-align: center;
	font-size: 0.8rem;
	display: inline-block;
	vertical-align: top;
}

.error {
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
	font-family: robotoregular, sans-serif;
	font-size: 1rem;
	border-radius: 3px;
}

.error-large {
	font-size: 1.3rem;
}

label {
	position: relative;
	margin-bottom: 10px;
	font-family: robotolight, sans-serif;
	font-size: 1rem;
}

label .icon {
	padding-left: 5px;
	height: 20px;
	width: 20px;
	line-height: 20px;
	cursor: pointer;
	display: inline-block;
}

label .icon:hover {
	transform: scale(1.2);
}

label .icon.toggle {
	visibility: hidden;
}

label:hover .icon.toggle {
	visibility: visible;
}

#cursorinfo {
	position: absolute;
	height: 20px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 3px;
	line-height: 20px;
	text-align: center;
	font-family: robotoregular, sans-serif;
	font-size: 14px;
	z-index: 3;
}

#dropzone {
	font-family: robotolight, sans-serif;
	font-size: 2rem;
	line-height: 300px;
	text-align: center;
  pointer-events: none;
}

#busy {
	position: absolute;
	right: 30px;
	bottom: 30px;
	width: 100px;
	height: 100px;
	border-radius: 999px;
	text-align: center;
	line-height: 100px;
	z-index: 1003;
}

#busy .busy-indicator {
	position:absolute;
	width: 100px;
	height: 100px;
	animation: rotate 1s infinite linear;
	top: -4px;
	left: -4px;
	border-radius: 999px;
}

/* General - Checkbox */

.checkbox {
	position: relative;
	height: 50px;
}

.checkbox-box {
	display: inline-block;
	vertical-align: top;
	margin-top: 17px;
	height: 15px;
	width: 15px;
	border-radius: 2px;
	font-family: icomoon;
	font-size: 0.7rem;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
}

.checkbox-label {
	display: inline;
	margin-left: 10px;
	height: 50px;
	line-height: 50px;
	font-size: 1rem;
}

.checkbox-checked:before {
	content: "\ea10";
}

/* General - Menu-item */

.menu,
.menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* 2nd and more level menu items */
.menu ul {
	position: absolute;
	top: 0;
	left: 100%;
	min-width: 200px;
	z-index: 1003;
	display: none;
}

.menu li {
	position: relative;
	height: 50px;
	line-height: 50px;
	font-family: robotolight, sans-serif;
	font-size: 1rem;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.menu li::before {
	width: 54px;
	height: 100%;
	display: inline-block;
}

/* Hover effect for menu */
.menu li:hover > ul {
	display: block;
}

.menu li .icon::before {
	width: 54px;
}

.menu li a {
	width: 100%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Header */

#header {
	height: 100px;
	flex: 0 0 auto;
}

#logo {
	width: 230px;
	height: 100%;
	font-size: 1.7rem;
	cursor: pointer;
	line-height: 100px;
	float: left;
}

#logo .icon::before {
	font-size: 1rem;
	width: 54px;
	height: 80px;
}

#logo a {
	margin-left: 0;
	font-family: robotoregular, sans-serif;
	font-size: 1.7rem;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#title {
	position: relative;
	left: 40px;
	float: left;
}

.title-element {
	font-size: 1.7rem;
	font-family: robotolight, sans-serif;
	line-height: 100px;
	cursor: pointer;
	float: left;
}

.title-element-current {
	font-family: robotoregular, sans-serif;
}

.title-separator {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 1rem;
}

#username {
	position: absolute;
	right: 20px;
	line-height: 100px;
	font-family: robotolight, sans-serif;
	font-size: 1.3rem;
	cursor: pointer;
}

#username:hover {
	font-family: robotoregular, sans-serif;
}

#menu {
	top: 65px;
	right: 2%;
}

/* Sidebar */

.sidebar-slim {
	width: 54px !important;
}

#sidebar {
	position: relative;
	width: 230px;
	flex: 0 0 auto;
}

#sidebar .icon::before {
	width: 54px;
	font-size: 0.8rem;
}

#sidebar .menu li {
	font-size: 1.1rem;
}

#sidebar-footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	line-height: 50px;
	font-size: 1rem;
	font-family: robotolight, sans-serif;
}

#sidebar-footer .icon:hover {
	font-weight: bold;
	cursor: pointer;
	color: #2e8b5e;
}

#create-menu {
	top: 130px;
	left: 54px;
}

#upload-menu {
	top: 180px;
	left: 54px;
}

.focus,
.focus a {
	font-family: robotoregular, sans-serif !important;
}

/* Widgets */

.widget {
	position: relative;
	margin-top: 20px;
	width: 100%;
	font-family: robotoregular, sans-serif;
	font-size: 0.9rem;
	text-align: left;
}

.widget-row {
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.widget-row-centered {
	margin: 0 auto;
	text-align: center;
}

.widget-row.widget-text {
	padding-left: 5%;
	padding-right: 5%;
	width: 90%;
}

.widget-icon {
	height: 40px !important;
	width: 40px !important;
	font-size: 1rem !important;
	border-radius: 20px !important;
	cursor: pointer !important;
}

.widget-small {
	height: 48px !important;
	width: 48px !important;
	line-height: 48px !important;
	font-family: robotoregular, sans-serif;
	text-align: center;
	display: none !important;
}

.progressbar {
	position: relative;
	height: 5px;
	cursor: pointer;
}

.progressbar-buffer {
	position: absolute;
	width: 0%;
	height: 100%;
}

.progressbar-progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
}

/* Content */

.main {
  flex: 1;
  display: flex;
}

.filter {
  position: relative;
  height: 50px;
  flex: 0 0 auto;
	border-radius: 2px;
}

#content-container {
	margin-left: 20px;
	/* margin-right: 20px; */
	display: flex;
	flex-direction: column;
	flex: 1;
}

.content {
  position: relative;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.03);
    border-radius: 15px;
}

.content-header {
	padding-right: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.15);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.3);
}

.empty {
	width: 100%;
	font-family: robotolight, sans-serif;
	font-size: 1.5rem;
	text-align: center;
}

.content-footer {
  position: relative;
  height: 50px;
  flex: 0 0 auto;
}

/* Content - Settings */

#status,
#plugins {
  padding-left: 2%;
  font-size: 1.2rem;
	font-family: robotolight, sans-serif;
	font-family: robotoregular;
}

#status hr,
#plugins hr {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 98%;
}

.cell input {
	width: 200px;
	padding-left: 10px;
}

.cell a:hover {
	text-decoration: underline;
}

.settings-info {
	font-family: robotolight, sans-serif;
	font-size: 1.1rem;
}

#log-page-selector {
	position: absolute;
	top: 5px;
	right: 50px;
}

.row {
	position: relative;
	margin: 0;
	width: 100%;
	display: inline-block;
}

.row .cell {
	position: relative;
	padding-left: 1%;
	width: 49%;
	height: 50px;
	line-height: 50px;
	font-family: robotolight, sans-serif;
	float: left;
}

.cell.multi-line {
	height: 100%;
	line-height: 40px;
}

/* Content - Editor */

#texteditor {
	position: relative;
	padding-top: 20px;
	padding-left: 1%;
	padding-right: 1%;
	width: 98%;
	outline: 0px solid transparent;
	font-family: monospace;
	border: none;
}

#editor-container {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 0;
}

/* Notification */

#notification-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.notification {
	position: relative;
	margin-top: 10px;
	padding: 10px;
	padding-right: 30px;
	height: 20px;
	min-width: 200px;
	border-radius: 3px;
	font-family: robotoregular, sans-serif;
	font-size: 1rem;
	text-align: center;
	line-height: 20px;
	user-select: text;
	-webkit-user-select: text;
	z-index: 1003;
}

.notification .icon::before {
	width: 30px;
}

.note-msg {
	margin-right: 10px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Info panel */

#fileinfo {
  position: relative;
  width: 230px;
  flex: 0 0 auto;
}

.fileinfo-elem {
	width: 100%;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#fileinfo-icon {
	font-size: 1rem;
}

#fileinfo .icon::before {
	width: 50px;
}

#fileinfo-name {
	font-size: 1.5rem;
}

#fileinfo-link:hover {
	cursor: pointer;
	font-family: robotoregular, sans-serif;
}

#fileinfo-footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	line-height: 50px;
	font-size: 1rem;
	font-family: robotolight, sans-serif;
}

#fileinfo-footer span {
	padding-left: 20px;
}

/* Version info */

#info > div {
	padding: 30px;
	width: 30%;
	text-align: center;
	font-family: robotolight, sans-serif;
}

#info-title {
	margin: 0;
}

#info-footer {
	margin-top: 10px;
	font-size: 1rem;
}

#info hr {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5%;
	width: 90%;
}

/* Audio player */

#audio-playpos {
	display: inline-block;
	float: left;
}

#audio-duration {
	display: inline-block;
	float: right;
}

/* Image viewer */

#img-viewer {
	background-position: center;
	background-repeat: no-repeat;
}

#img-prev {
	left: 20px;
}

#img-next {
	right: 20px;
}

#img-title {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-family: robotoregular, sans-serif;
	font-size: 1.25rem;
	text-align: center;
	z-index: 1;
	text-shadow: 1px 1px 5px #222, 1px -1px 5px #222, -1px 1px 5px #222, -1px -1px 5px #222;
}

.img-title {
	margin-top: 75%;
	width: 100%;
	height: 30px;
	font-size: 10px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: robotolight, sans-serif;
	font-size: 1rem;
	z-index: 100;
}

/* Video */

#video {
	position: absolute;
}

/* Popup */

.popup {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1003;
}

.popup > * {
	border-radius: 3px;
	font-family: robotoregular, sans-serif;
	font-size: 1rem;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.popup.hidden > * {
	-moz-opacity: 10;
	opacity: 10;

	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.popup .close {
	top: 30px;
	right: 30px;
}

.popup form {
	width: 350px;
	padding: 30px;
}

.popup form textarea {
	width: 99% !important;
	height: 100px;
	padding-top: 10px;
	padding-left: 1% !important;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 1rem;
	font-family: robotolight, sans-serif;
	border: 1px dotted black;
}

.popup form .output {
	height: 50px;
	width: 100%;
	line-height: 50px;
	text-align: center;
}

.popup .btn {
	position: relative;
	margin-left: 10px;
	float: right;
}

.popup-menu {
	position: absolute;
	min-width: 200px;
	max-height: 500px;
	transition: visibility 0.15s linear, transform 0.15s linear;
	transform: scaleY(1);
	transform-origin: top;
	z-index: 1003;
}

.popup-menu.hidden {
	visibility: hidden;
	transform: scaleY(0);
	transition: visibility 0.1s linear 0.15s, transform 0.15s linear;
}

.popup-menu span {
	overflow: hidden;
}

.popup-menu li {
	overflow: visible;
}

/* Scrollbar */

.scrollbar {
	position: absolute;
	top: 0;
	right: 5px;
	width: 10px;
	border-radius: 3px;
}

.scrollbar:hover {
	width: 15px;
}

/* Login, Setup, Public */

.major-form {
	position: absolute;
	/*margin-top: -20px;*/
	padding: 40px 0 40px 0;
	width: 335px;
}

.brand {
	position: absolute;
	left: 20px;
	top: 10px;
	font-size: 1.5rem;
	line-height: 50px;
}

.footer {
	position: absolute;
	bottom: 10px;
	width: 100%;
	font-size: 1.3rem;
	font-family: robotolight, sans-serif;
	text-align: center;
}

.accordion {
    overflow: hidden;
	max-height: 0;
    transition: max-height 0.2s linear;
}

.accordion-trigger:hover {
	cursor: pointer;
	font-family: robotoregular, sans-serif;
}

/* Animations */

@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/* Responsive */

@media screen and (max-width: 1000px) {
	#logo,
	#sidebar {
		width: 54px;
	}

	#sidebar .menu li * {
		display: none;
	}

	#sidebar .menu li::before {
		display: block;
	}

	#foldersize,
	.widget * {
		display: none;
	}

	.widget-small {
		display: block !important;
	}

	.widget {
		left: 1px !important;
		width: 48px !important;
		height: 48px !important;
		border-radius: 27px !important;
		border: 2px solid #2e8b5e !important;
	}
}

.center {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	align-items: center;
}

.center > * {
	position: relative;
}

.center::before, .center::after {
	content: '';
	margin: auto; /* Make it push flex items to the center */
}

.center > * {
	flex: 0 0 auto;
  	margin: 40px 0 40px 0;
}

.center-hor {
	position: relative;
	width: 100%;
	display: flex;
	overflow: auto;
	justify-content: center;
}
