/* Fonts */

@font-face {
    font-family: 'robotolight';
    src: url('../font/robotolight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/robotoregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: robotoregular, sans-serif;
	user-select: none;
	-webkit-user-select: none;
	overflow: hidden;
}

html {
	height: 100%;
	/* important, so font sizes cannot be messed up by the browser */
	font-size: 16px;
}

a {
	text-decoration: none;
}

button::-moz-focus-inner {
	/* prevent outline after click */
	border: 0;
}

input {
	font-family: robotolight, sans-serif;
	font-size: 1rem;
	border-radius: 3px;
}

button {
	border: none;
	cursor: pointer;
}

select {
	position: relative;
	margin: 0;
	height: 40px;
	width: 100px;
	line-height: 40px;
	text-align: center;
	font-family: robotoregular, sans-serif;
	font-size: 1rem;
	border-radius: 2px;
	cursor: pointer;
}

/* Header */

#header {
	position: relative;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
}

#path {
	position: absolute;
	top: 0px;
	left: 220px;
}

.path-seperator {
	height: 80px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	font-family: robotolight, sans-serif;
	line-height: 80px;
}

.path-element {
	margin: 0;
	padding: 0;
	float: left;
	cursor: pointer;
	font-size: 1.7rem;
	font-family: robotolight, sans-serif;
	line-height: 80px;
}

#logo {
	width: 200px;
	height: 80px;
	font-size: 1.7rem;
	cursor: pointer;
	line-height: 80px;
}

#logo .icon {
	font-size: 1rem;
	height: 80px;
	display: none;
}

#logo a {
	margin-left: 20px;
	font-family: robotolight, sans-serif;
	font-size: 1.7rem;
}

.back {
	margin-left: 0 !important;
}

.back .icon {
	display: inline-block !important;
}

#username {
	position: absolute;
	top: 0;
	right: 2%;
	line-height: 80px;
	font-family: robotolight, sans-serif;
	font-size: 1.3rem;
	cursor: pointer;
}

#username:hover {
	font-family: robotoregular, sans-serif;
}

#menu {
	top: 65px;
	right: 2%;
	font-size: 13px;
	z-index: 100;
	width: 200px;
}

.icon {
	font-family: icomoon;
	text-align: center;
	font-size: 0.8rem;
	display: inline-block;
	vertical-align: top;
}

/* Sidebar */

#sidebar {
	position: relative;
	left: 0;
	width: 200px;
	height: 100%;
	float: left;
}

#sidebar .icon {
	width: 54px;
	font-size: 0.7rem;
}

.focus, .focus a {
	font-family: robotoregular, sans-serif !important;
}

.widget {
	position: relative;
	margin-top: 20px;
	width: 100%;
	font-family: robotoregular, sans-serif;
	font-size: 1rem;
	text-align: left;
}

.widget-row {
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 0.9rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.widget-row-centered {
	margin: 0 auto;
	text-align: center;
}

.widget-row.widget-text {
	padding-left: 5%;
	width: 95%;
}

.widget-icon {
	height: 40px !important;
	width: 40px !important;
	font-size: 1rem !important;
	border-radius: 20px !important;
	cursor: pointer !important;
}

#create-menu {
	top: 130px;
	left: 54px;
}

#upload-menu {
	top: 180px;
	left: 54px;
}

.widget-small {
	height: 48px !important;
	width: 48px !important;
	line-height: 48px !important;
	font-family: robotoregular, sans-serif;
	text-align: center;
	display: none !important;
}

/* Content */

.list-filter {
	position: relative;
	height: 50px;
	width: 100%;
	line-height: 50px;
	font-size: 1rem;
	font-family: robotoregular, sans-serif;
}

.list-filter-input {
	height: 100%;
	width: 99%;
	padding-left: 1%;
	border: none;
	border-radius: 0px;
}

#content {
	position: relative;
	float: left;
	height: 100%;
	width: 88%;
	overflow: hidden;
}

/* Notification */

#notification {
	top: 20px;
	height: 20px;
	padding: 10px;
	padding-right: 30px;
	margin: 0 auto;
	text-align: center;
	line-height: 20px;
	font-size: 1rem;
	user-select: text;
	-webkit-user-select: text;
}

#note-icon {
	width: 30px;
}

#note-msg {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Info panel */

#fileinfo {
	position: absolute;
	top: 80px;
	right: 0;
	width: 200px;
	height: 100%;
	font-family: robotolight, sans-serif;
	font-size: 1rem;
}

.fileinfo-elem {
	width: 100%;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#fileinfo-header {
	margin-left: 20px;
	font-family: robotoregular, sans-serif;
}

#fileinfo-icon {
	font-size: 1rem;
}

#fileinfo .icon {
	width: 50px;
}

#fileinfo-name {
	font-size: 1.5rem;
}

#fileinfo-link:hover {
	cursor: pointer;
	font-family: robotoregular, sans-serif;
}

/* Version info */

#info {
	width: 30%;
	text-align: center;
	font-family: robotolight, sans-serif;
	padding: 30px;
}

#info-title {
	font-size: 2.5rem;
}

#info-subtitle {
	font-size: 1.5rem;
}

#info-footer {
	margin-top: 10px;
	font-size: 1rem;
}

/* Audio player */

#audio-playpos {
	position: absolute;
	left: 10px;
	text-align: left;
}

#audio-duration {
	position: absolute;
	right: 10px;
	text-align: right;
}

.progressbar {
	position: relative;
	height: 5px;
	cursor: pointer;
}

.progressbar-buffer {
	position: absolute;
	width: 0%;
	height: 100%;
}

.progressbar-progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
}

.empty {
	font-family: robotolight, sans-serif;
	font-size: 24px;
	text-align: center;
}

#sidebar-footer {
	position: absolute;
	bottom: 0px;
	height: 50px;
	width: 200px;
	line-height: 50px;
	font-size: 1rem;
	font-family: robotolight, sans-serif;
}

#scan:hover {
	cursor: pointer;
	font-weight: bold;
}

/* Image viewer */

#img-viewer {
	background-position: center;
	background-repeat: no-repeat;
}

#img-delete {
	top: 20px;
	right: 140px;
}

#img-slideshow {
	top: 20px;
	right: 80px;
}

#img-prev {
	top: 50%;
	left: 20px;
}

#img-next {
	top: 50%;
	right: 20px;
}

.img-control {
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	font-size: 28px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	z-index: 1;
}

#img-title {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-family: robotoregular, sans-serif;
	font-size: 1.25rem;
	text-align: center;
	z-index: 1;
}

#gallery {
	position: absolute;
	overflow: hidden;
	top: 80px;
	height: 85%;
	width: 100%;
}

.img-title {
	margin-top: 75%;
	width: 100%;
	height: 30px;
	font-size: 10px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: robotolight, sans-serif;
	font-size: 1rem;
	z-index: 100;
}

.gallery-container {
	position: relative;
	height: 250px;
	width: 250px;
	margin: 2px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-size: 32px;
	line-height: 200px;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	float: left;
}

.gallery-container:hover {
	cursor: pointer;
}

/* Video */

#video {
	position: absolute;
}

/* Checkbox */

.checkbox {
	position: relative;
	height: 40px;
}

.checkbox-box {
	position: absolute;
	top: 17px;
	height: 15px;
	width: 15px;
	border-radius: 2px;
	float: left;
	font-family: icomoon;
	font-size: 0.7rem;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
}

.checkbox-checked:before {
	content: "\e936";
}

.checkbox-label {
	position: absolute;
	left: 30px;
	height: 50px;
	line-height: 50px;
	float: left;
	font-size: 1rem;
}

/* Popup */

.popup {
	position: absolute;
	min-width: 200px;
	border-radius: 3px;
	font-family: robotoregular, sans-serif;
	font-size: 1rem;
	z-index: 1003;
}

.popup button {
	position: relative;
	margin-left: 10px;
	float: right;
}

form.popup, #confirm {
	width: 268px;
	padding: 30px;
}

.popup input {
	height: 40px;
	width: 258px;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	padding-left: 10px;
	text-align: left;
	font-family: robotoregular, sans-serif;
	font-size: 1rem;
}

.popup .checkbox {
	margin-bottom: 10px;
}

#status hr, #plugins hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

.settings-title {
	margin-left: 2%;
	height: 40px;
	width: 98%;
	float: left;
	clear: both;
	font-family: robotoregular, sans-serif;
	font-size: 1.5rem;
	line-height: 40px;
	color: #2e8b5e;
}

.transition {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
}

button {
	position: relative;
	margin: 0;
	height: 40px;
	width: 100px;
	line-height: 40px;
	text-align: center;
	font-family: robotoregular, sans-serif;
	font-size: 1rem;
	border-radius: 3px;
	font-weight: normal;
	cursor: pointer;
}

button a {
	font-family: robotoregular, sans-serif;
	font-size: 1rem;
}

button:disabled, button:disabled:hover {
	cursor: default;
}

.error {
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
	font-family: robotoregular, sans-serif;
	font-size: 1rem;
	border-radius: 3px;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-family: Arial;
	font-size: 1.5rem;
	line-height: 20px;
	cursor: pointer;
}

.list-filter .close {
	line-height: 30px;
}

form.popup .close, #info .close, #confirm .close {
	top: 30px;
	right: 30px;
}

.hidden {
	display: none;
}

.popup-title {
	margin: 0;
	margin-bottom: 20px;
	width: 80%;
	padding: 0;
	font-size: 1.8rem;
	font-family: robotolight, sans-serif;
}

label {
	position: relative;
	margin-bottom: 10px;
	font-family: robotolight, sans-serif;
	font-size: 1.1rem;
}

#cursorinfo {
	position: absolute;
	height: 20px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 3px;
	line-height: 20px;
	text-align: center;
	font-family: robotoregular, sans-serif;
	font-size: 14px;
	z-index: 3;
}

#dropzone {
	position: absolute;
	top: 2%;
	left: 2%;
	width: 96%;
	height: 96%;
	font-family: robotolight, sans-serif;
	font-size: 2rem;
	line-height: 300px;
	text-align: center;
	z-index: 1000;
}

/* Scrollbar */

.scrollbar {
	position: absolute;
	top: 0;
	right: 5px;
	width: 10px;
	border-radius: 3px;
}

.scrollbar:hover {
	width: 15px;
}

/* Text Editor */

#doc-savestatus {
	font-size: 1rem;
	margin-left: 5px;
}

#texteditor {
	position: relative;
	padding-top: 20px;
	padding-left: 1%;
	padding-right: 1%;
	width: 98%;
	padding: none;
	outline: 0px solid transparent;
	font-family: monospace;
	border: none;
}

/* Login, Setup, Public */

.major-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	font-family: robotolight, sans-serif;
	overflow: auto;
}

.major-wrapper form {
	position: absolute;
	margin-top: -20px;
	width: 335px;
}

.major-logo {
	position: absolute;
	left: 20px;
	top: 10px;
	font-size: 1.5rem;
	line-height: 50px;
}

.major-title {
	margin-bottom: 15px;
	font-size: 2rem;
	font-family: robotolight, sans-serif;
}

.major-subtitle {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5rem;
	font-family: robotolight, sans-serif;
}

.major-input {
	margin-bottom: 20px;
	width: 100%;
	height: 55px;
	outline: hidden;
	border-radius: 0px;
	font-size: 2rem;
	font-family: robotolight, sans-serif;
}

.major-input-small {
	margin-top: 0;
	font-size: 1.5rem;
}

.major-wrapper .error {
	font-size: 1.3rem;
}

.major-submit {
	margin-left: 67px;
	margin-top: 20px;
	width: 200px;
	height: 50px;
	font-family: robotolight, sans-serif;
	font-size: 1.3rem;
	cursor: pointer;
}

.footer {
	position: absolute;
	bottom: 10px;
	width: 100%;
	font-size: 1.3rem;
	font-family: robotolight, sans-serif;
	text-align: center;
}

#advanced:hover {
	cursor: pointer;
	font-family: robotoregular, sans-serif;
}

/* Settings */

#status, #plugins {
	position: relative;
	height: 100%;
	width: 100%;
	font-size: 1.2rem;
	font-family: robotolight, sans-serif;
	overflow: hidden;
}

.settings-label {
	font-family: robotolight, sans-serif
}

.cell input {
	width: 200px;
	padding-left: 10px;
}

.settings-info {
	font-size: 1.1rem;
}

.list-footer {
	position: relative;
	height: 50px;
	width: 100%;
}

#log-page-selector {
	position: absolute;
	top: 5px;
	right: 50px;
}

.selector {
	height: 40px;
}

.selector .selector-label {
	height: 40px;
	margin-right: 10px;
	line-height: 40px;
	font-family: robotoregular, sans-serif;
	font-size: 1rem;
	float: left;
}

.selector select {
	float: left;
}

.error-page-text {
	position: relative;
	top: 150px;
	width: 100%;
	text-align: center;
	font-size: 2rem;
}

.error-page-text a {
	font-weight: bold;
}

.error-page-code {
	font-size: 4rem;
}

.password-strength {
	margin-bottom: 20px;
}

@keyframes flip-animation {
	0% { transform: scale(1); }
	25% { transform: rotateY(-180deg); }
	75% { transform: rotateY(180deg); }
	100% { transform: scale(1); }
}

@keyframes fade-animation {
	0% { opacity: 0.2; transform: scale(1); }
	25% { opacity: 0.5; transform: scale(1.1); }
	50% { opacity: 1; transform: scale(1.2); }
	75% { opacity: 0.5; transform: scale(1.1); }
	100% { opacity: 0.2; transform: scale(1); }
}

#busy {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	border-radius: 30px;
	text-align: center;
	line-height: 50px;
	font-family: robotoregular, sans-serif;
	font-size: 0.9rem;
	z-index: 103;

	animation-name: flip-animation;
	animation-duration: 2000ms;
	transform-origin: 50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#editor-container {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 0;
}

.row {
	position: relative;
	width: 100%;
	display: inline-block;
	margin: 0;
}

.row .cell {
	position: relative;
	padding-left: 3%;
	margin-top: 20px;
	width: 47%;
	height: 40px;
	line-height: 40px;
	float: left;
}

.cell.multi-line {
	height: 100%;
	line-height: 40px;
}

.cell input {
	height: 100%;
}

/* Responsive */

@media screen and (max-width: 1000px) {
	#major-title {
		margin-top: 30px;
	}

	#logo, #sidebar, #sidebar .menu li {
		width: 54px !important;
	}

	#logo a {
		margin-left: 0;
	}

	#path {
		left: 74px;
	}

	#logo .icon {
		display: inline-block;
	}

	#foldersize, .widget *{
		display: none;
	}

	.widget-small {
		display: block !important;
	}

	.widget {
		left: 1px !important;
		width: 48px !important;
		height: 48px !important;
		border-radius: 27px !important;
		border: 2px solid #2e8b5e !important;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
}

.overlay-close {
	top: 20px;
	right: 20px;
}

.menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menu li {
	height: 50px;
	line-height: 50px;
	font-family: robotolight, sans-serif;
	font-size: 1rem;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#logo .icon, .menu li .icon {
	width: 54px;
}

.menu li a, #logo a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#sidebar .menu li {
	font-size: 1.1rem;
}

hr {
	border: 0;
	width: 100%;
	height: 1px;
	margin: 0;
}

.clearer {
	position: relative;
	left: 10%;
	width: 80%;
	height: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
}